<div class="header">
    <!--<h1 class="page-header">-->
        <!--&lt;!&ndash;Dashboard <small>Welcome John Doe</small>&ndash;&gt;-->
    <!--</h1>-->
    <ol class="breadcrumb">
        <li><a href="#">图书借阅管理</a></li>
        <li class="active">还书管理</li>
    </ol>
</div>
<div class="header">
    <p style="margin-left:20px;">
        <span class="col-xs-4">
            <input type="text" class="form-control" placeholder="用户名/用户昵称/书名/条形码/学校名" id="searchText">
        </span>
        <button class="btn btn-large btn-primary" type="button" id="search">搜索已借出书记录</button>
    </p>



    <div class="table-responsive col-xs-12" style="margin-top:10px;">
        <table class="table">
            <tr><th></th><th>幼儿园</th></th><th>用户名</th><th>书名</th><th>借书日期</th><th>还书日期</th><th>借书费用 </th><th>库存数</th><th>操作</th></tr>
            <IF condition="isset($Borrow)">
                <volist name="Borrow" id="vo">
                    <tr>
                        <td>{$key+1}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.user}</td>
                        <td>{$vo.bookname}</td>
                        <td>{$vo.borrowTime}</td>
                        <td>{$vo.backTime}</td>
                        <td>{$vo.rental}</td>
                        <td>{$vo['number']-$vo['outdepot']}</td>
                        <td>
                        <if condition="($vo.ifback eq 1)">
                            <a data-target="#editSchool" data-toggle="modal" class="btn btn-info School_update" href="#" bid="{$vo.bookid}" xid="{$vo.id}">图书归还</a>
                        </if>
                        </td>
                    </tr>
                </volist>
            </IF>
        </table>
    </div>
    <IF condition="isset($searchText)">
        <div class="searchText" style="display:none;">{$searchText}</div>
    </IF>
    <div id="page" style="text-align:center;">
        <nav>{$page}</nav>
    </div>

    <div class="modal" id="editSchool">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">图书归还</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="edit">
			
                        <div class="form-group">
                            <label for="name">确定归还此书吗？</label>
                        </div>
                       <div class="form-group">
    					<p style='color: red;'>请核对图书信息，确定点击保存！</p>
                        </div>
                        <input type="hidden" name="id"/>
                        <input type="hidden" name="bookid"/>
                        <input type="hidden" name="ifback" value='0' />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_close" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="edit_School">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>
<script type="text/javascript">
$(function(){
	$('#page li a').click(function(){
		$.ajax({
			url:ThinkPHP['MODULE']+'/Bookback/index',
			type:'POST',
			data:{
				page:$(this).attr('page'),
				searchText:$('.searchText').html(),
			},
			success:function(data,response,status){
				$('#page-wrapper').html(data);
			}
		});
	});

	//搜索
	$('#search').click(function(){
		$.ajax({
			url:ThinkPHP['MODULE']+'/Bookback/index',
			type:'POST',
			data:{
				searchText:$('#searchText').val(),
			},
			success:function(data,response,status){
				$('#page-wrapper').html(data);
			}
		});
	});
	
	
$('.School_update').click(function(){  //没必要
	$('input[name=id]').val($(this).attr('xid'));
	$('input[name=bookid]').val($(this).attr('bid'));


		//$('input[name=id]').val($(this).attr('xid'));
})

	$('#edit_School').click(function(){
		var formdata = $('#edit').serialize();
		$.ajax({
			url:ThinkPHP['MODULE']+'/Bookback/update',
			type:'POST',
			data:formdata,
			success:function(data,response,status){
				if(data < 0){
					switch (data){
						case -1:
							alert('失败！！');
							break;
						default:
							alert(data);
					}
				}else{
					$('#editSchool').modal('hide');
					$('#page-wrapper').html(data);
				}
			}
		});
	});
	
});
</script>
