<div class="header">
    <!--<h1 class="page-header">-->
    <!--&lt;!&ndash;Dashboard <small>Welcome John Doe</small>&ndash;&gt;-->
    <!--</h1>-->
    <ol class="breadcrumb">
        <li><a href="#">全国代理</a></li>
        <li class="active">代理列表</li>
    </ol>
</div>
<div class="header">
    <p style="margin-left:20px;">
        <!--<button class="btn btn-large btn-success" type="button" data-target="#addAdvert" data-toggle="modal" style="float: right;margin-right: 100px;">添加赞助</button>-->
        <span class="col-xs-4">
            <input type="text" class="form-control" placeholder="查询名称/联系/电话/地址" id="searchText">
        </span>
        <button class="btn btn-large btn-primary" type="button" id="search">搜索</button>
    </p>



    <div class="table-responsive col-xs-12" style="margin-top:10px;">
        <table class="table">
            <tr><th></th><th>代理商名</th><th>联系人</th><th>电话</th><th>地址</th><th>广告收入</th><th>习惯作品收入</th><th>总收入排名</th></tr>
            <IF condition="isset($Agent)">
                        <volist name="Agent" id="vo">
                    <tr>
                        <td>{$key+1}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.real_name}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.address}</td>
                        <td>{$vo.adv_coin}</td>
                        <td>{$vo.habit_coin}</td>
                        <td>{$vo.sort}</td>
                        <!--<td>-->
                            <!--&lt;!&ndash;<a data-target="#editAdvert" data-toggle="modal" class="btn btn-info Advert_update" href="#" xid="{$vo.id}">修改</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a data-target="#delAdvert"  data-toggle="modal" class="btn btn-danger Advert_delete" href="#" xid="{$vo.id}">删除</a>&ndash;&gt;-->
                        <!--</td>-->
                    </tr>
                </volist>
            </IF>
        </table>
    </div>
    <IF condition="isset($searchText)">
        <div class="searchText" style="display:none;">{$searchText}</div>
    </IF>
    <div id="page" style="text-align:center;">
        <nav>{$page}</nav>
    </div>

    <div class="modal" id="addAgent">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加赞助</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="add">
                        <div class="form-group">
                            <label for="name">赞助商名称</label>
                            <input type="text" class="form-control" name="name"
                                   placeholder="请输入赞助商名称">
                        </div>
                        <div class="form-group">
                            <label for="name">赞助商地址</label>
                            <input type="text" class="form-control" name="address"
                                   placeholder="请输入赞助商地址">
                        </div>
                        <div class="form-group">
                            <label for="name">赞助商电话</label>
                            <input type="text" class="form-control" name="mobile"
                                   placeholder="请输入赞助商电话">
                        </div>
                        <div class="form-group">
                            <label for="name">赞助金额</label>
                            <input type="text" class="form-control" name="coin"
                                   placeholder="请输入赞助金额">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_close" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="add_Agent">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal" id="editAgent">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">修改学校</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="edit">
                        <div class="form-group">
                            <label for="name">赞助商名称</label>
                            <input type="text" class="form-control" name="name"
                                   placeholder="请输入赞助商名称" id="name">
                        </div>
                        <div class="form-group">
                            <label for="name">赞助商地址</label>
                            <input type="text" class="form-control" name="address"
                                   placeholder="请输入赞助商地址" id="address">
                        </div>
                        <div class="form-group">
                            <label for="name">赞助商电话</label>
                            <input type="text" class="form-control" name="mobile"
                                   placeholder="请输入赞助商电话" id="mobile">
                        </div>
                        <div class="form-group">
                            <label for="name">赞助金额</label>
                            <input type="text" class="form-control" name="coin"
                                   placeholder="请输入赞助金额" id="coin">
                        </div>
                        <input type="hidden" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_close" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="edit_Agent">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal modal_update" id="delAgent">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除赞助</h4>
                </div>
                <div class="modal-body">
                    <p style="color:red;">您确定要删除这个会员？请谨慎操作！</p>
                    <input type="hidden" name="delid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_close" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="del_Agent">删除</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>
<script type="text/javascript" src="__JS__/agent.js"></script>
