@CHARSET "UTF-8";
.add-infos{
	background:#fff;
	border-radius:4px;
	min-height:600px;
	margin-top:20px;	
}
.add-infos h3{
	padding-left:139px;
	font-weight:bold;
	height:50px;
	line-height:50px;
	color:#a8a8a8;
}
