@CHARSET "UTF-8";
.manage{
	background:#fff;
	border-radius:5px;
	min-height:500px;
}
.manage h4{
	text-align:left;
	padding-left:20px;
	font-weight:bold;
	height:50px;
	line-height:50px;
	color:#a8a8a8;
}
.manage h4 .manage-right{
	float:right;
	font-size:15px;
	color:#000;
	font-weight:normal;
	margin-right:20px;
	
}
#member{
	width:90%;
	margin:10px auto 0;
}
#class{
	width:90%;
	margin:10px auto 0;
}
#class .top{
	text-align:right;
	margin:10px;
}
#page{
	text-align:center;
}