@CHARSET "UTF-8";
.view-opus{
	background:#fff;
	border-radius:4px;
	min-height:600px;
	margin-top:20px;	
}
 .view {
	width:90%;
 	margin:0 auto;
 }
 .view h3{
 	
 	text-align:center;
 }
  .view p.time{
  	font-size:16px;
  	color:#a39d98;
 }
  .view p.content{
	text-indent:20px;
  	font-size:14px;
  	line-heght:120%;
  	margin-top:20px;
 }
   .view p.content span{
	font-size:20px;
   	font-weight:bold;
   	transform:ratate(45deg);
   	color:#9daddb;
   }
 .slideBox{
	margin:0 auto;
  }