<div class="row">
 <div class="col-md-12 ">
  <div class="infos">

             <ol class="breadcrumb">
			  <li>校园新闻</li>
			  <li class="active">新闻列表</li>
				  <if condition="isAdmin()">
				  <li style="float:right;"><a href="javascript:void(0)" id="add-infos">添加新闻</a></li>
			      </if>
		     </ol>

     <div class="row infos-list">
         <div class="col-md-10 col-md-offset-1"> 
                   <volist name="Infos" id="vo"  empty="$empty">
				      <div class="media list-content">
						  <div class="media-left media-middle">
						    <a href="javascript:void(0)">
							    <empty name="vo['infos_img'][0]['thumb']">    
						          <img class="media-object" src="__IMG__/book.jpg" alt="">
						        <else />
								  <img class="media-object" src="__ROOT__/{$vo['infos_img'][0]['thumb']}" alt="">			        
						        </empty>
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">{$vo.title}</h4>
						    <p>{$vo.content}</p>
						    <span class="tt">发布时间:{$vo.time}</span>
						  </div>
					   <if condition="isAdmin()">
					   <span class="infos-close" ><a data-toggle="tooltip" iid="{$vo.id}" class="del" data-placement="left" title="删除新闻">&times;</a></span>
					   <span class="infos-edit" ><a data-toggle="tooltip" iid="{$vo.id}" class="edit" data-placement="left" title="修改新闻">√</a></span>
					   </if>
					  </div>
				 </volist>	
			 <div id="page" style="text-align:center;">
				 <nav>{$page}</nav>
			 </div>			               
            </div>
         </div>
     </div>
  </div>
  </div>
  <script>
  $(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	}) 
  </script>

 
 <script type="text/javascript" src="__JS__/infos.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/infos.css" />